# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Show modal-file-manager'
#       'command': 'modal-file-manager:show'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Modal File Manager'
      'submenu': [
        {
          'label': 'Show'
          'command': 'modal-file-manager:show'
        }
      ]
    ]
  }
]
