# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see #ccc
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#.platform-linux
'.platform-win32 atom-workspace':
  'alt-shift-m': 'modal-file-manager:toggle'
'.platform-darwin atom-workspace':
  'shift-cmd-m': 'modal-file-manager:toggle'
